// 环境切换样式
.env-content {
  position: absolute;
  line-height: 2rem;
  height: 2rem;
  top: 1.04rem;
  z-index: 13;
  cursor: move;
  @include themeFn(background-color, base-main-color); // 背景色
  @include themeFn(color, base-color-white); //文本色
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  .env-body {
    padding: 0 0.5rem;
    .triangle {
      float: right;
      margin-top: 0.5rem;
    }
  }
  .env-select {
    font-size: 0.875rem;
    display: none;
    animation-duration: 0.5s;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    .env-option {
      line-height: 1.5rem;
      @include themeFn(background-color, base-main-color);
      text-decoration: none;
      padding: 0.4rem 1.5rem;
    }
    .env-option:hover {
      @include themeFn(background-color, base-main-color-hover);

      cursor: pointer;
    }
    .is-active {
      @include themeFn(color, base-color-yellow);
    }
  }
  .env-icon {
    position: relative;
  }
  .triangle {
    @include themeFn(color, base-color-white);
    transform: rotate(90deg);
    transition: all 0.3s;
  }
  .triangle1, .triangle2{
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    top: -0.75rem;
    @include themeFn(color, base-main-color);
    transform: rotate(180deg) scale(1.4);
  }
  .triangle1 {
    left: 0.25rem;
  }
  .triangle2 {
    right: 0.25rem;
  }
}
.env-content:hover {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  .triangle {
    transform: rotate(0deg);
  }
  .triangle1, .triangle2 {
    opacity: 1;
    
  }
  .triangle1 {
    animation: rotateY45 0.3S linear;
    animation-delay: 1.5s;
  }
  .env-icon {
    animation: rotate360 2s linear infinite;
  }
  .env-select {
    display: block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}

@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotateY45 {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(45deg) rotateZ(30deg);
  }
  100% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
}