/**
* 公共代码块
*/
@mixin container {
  background: $base-menu-background;
}
@mixin el_border {
  border-color: $base-main-color;
}
@mixin el_border_green {
  border-color: $base-color-green;
}
@mixin el_border_orange {
  border-color: $base-color-orange;
}
@mixin el_border_red {
  border-color: $base-color-red;
}
@mixin el_border_gray {
  border-color: $base-color-gray;
}
@mixin  el_border_gray2 {
  border-color: $base-color-gray2;
}
@mixin el_background {
  background: $base-main-color;
}
@mixin el_background_green {
  background: $base-color-green;
}
@mixin el_background_orange {
  background: $base-color-orange;
}
@mixin el_background_red {
  background: $base-color-red;
}
@mixin el_container {
  @include el_background;
  @include el_border;
}
@mixin el_box_show {
  box-shadow: -1px 0 0 0 $base-main-color;
}
