$layouts: (
  default: (
    r: right,
    l: left,
    rotateY: rotateY(0),
    rotate180: rotate(180deg),
    rotate0: rotate(0deg),
    rotateX0: rotateX(0),
    transform-badge: translateY(-50%) translateX(100%),
    invert: 1,
    positive: -1,
  ),
  ar: (
    r: left,
    l: right,
    rotateY: rotateY(180deg),
    rotate180: rotate(0),
    rotate0: rotate(180deg),
    rotateX0: rotateX(180deg),
    transform-badge: translateY(-50%) translateX(-100%),
    invert: -1,
    positive: 1,
  )
)