// 一般布局

// 图片属性,element-ui  在这个地方写
// 图片文件放置对应的images目录下

.dragon-layout-default{
  $direction-r: right;
  $direction-l: left;
  $direction-rotateY: rotateY(0);
  $direction-rotate180: rotate(180deg);
  $direction-rotate0: rotate(0deg);
  $direction-rotateX0: rotateX(0);
  $direction-transform-badge: translateY(-50%) translateX(100%);
  $direction-invert: 1;
  $direction-positive: -1;

  /* ----------图片---start ------ */
  // eg：.xx {
  //   background-image: url('xxx');
  // }


  
  /* --------------  element-ui --- start------------ */
  
}