// 镜像布局

// 图片属性在这个地方写
// 图片文件放置对应的images目录下

.dragon-layout-ar{
  $direction-r: left;
  $direction-l: right;
  $direction-rotateY: rotateY(180deg);
  $direction-rotate180: rotate(0);
  $direction-rotate0: rotate(180deg);
  $direction-rotateX0: rotateX(180deg);
  $direction-transform-badge: translateY(-50%) translateX(-100%);
  $direction-invert: -1;
  $direction-positive:1;

  /* ----------图片---start ------ */
  // eg：.xx {
  //   background-image: url('xxx');
  // }


  
  /* --------------  element-ui --- start------------ */
  
}