/**
* element 样式重置（不包含主题色修改）
* eg: 按钮的内边距、高度、圆角、字体大小等都在这边重置
**/
@charset "utf-8";

/* ------------ 字体 -------------- */
// 改变 icon 字体路径变量，必需 
$--font-path: '~element-ui/lib/theme-chalk/fonts';
// 字体大小
$--font-size-base: 14px;

/* ----------- Border --------- */
// 边框-圆角 1px
$--border-radius-base: $base-border-radius;
$--border-radius-small: $base-border-radius;

/**------ Button  ---- */
// 上下内边距
$--button-small-padding-vertical: getRem(9);
// 左右内边距 
$--button-small-padding-horizontal: getRem(16);


/**--------定制化 DatePicker 日期选择器、日期时间选择器 布局更改----------*/

// header "2020年1月1日" 的位置
.el-date-range-picker{
  .el-date-range-picker__content{
    padding: 0 !important;
    .el-date-range-picker__header{
      padding: 16px !important;
      height: 55px !important;
    }
    table{
      padding: 0 16px 16px 16px !important; // 日历内容
    }
  }
}

.el-date-picker{
  .el-date-picker__header{
    padding: 12px !important;
    margin: 0 !important;
  }
  .el-picker-panel__content{
    margin-top: 0 !important;
  }
}

// 快捷键
.el-date-picker,
.el-date-range-picker{
  .el-picker-panel__body-wrapper{
    .el-picker-panel__sidebar{
      padding-top: 0 !important;
      .el-picker-panel__shortcut{
        border-width: 1px;
        border-style: solid;
        border-color: #e4e4e4; // 新增的边框需要给个默认颜色
        width: 80%;
        margin: 1.25rem .75rem;
        text-align: center;
        padding-left: 0;
        font-size: .75rem;
        color: inherit;
      }
    }
  }
}

/**--------定制化 表格---------*/
.el-table th >.cell {
  border-left: 1px solid #d4d9e6; // 新增的 表头分割线
  text-overflow: clip !important; // 去掉多余...
}
.el-table th:first-child > .cell{
  border-left: none !important; // 去除-第一列表头分割线
}
.el-table th > .cell {
  font-weight: 400 !important;  // 表头字体粗细 element默认500
}

/**--------定制化 分页---------*/
.el-pagination{
  @include turnNameKey(text-align, r);
}
.el-pagination__editor.el-input{
  width: 80px !important; // 输入跳转第几页的input，element默认50px
}
.el-pager li{
  font-weight: 400 !important;  // 字体粗细 element默认500
}

/**--------定制化 菜单---------*/
.el-menu{
  border-right: 0 !important; // 菜单有边框取消
}
.el-menu .el-menu-item i, 
.el-menu .el-submenu i {
  font-size: 1.5rem; // 菜单字体大小
  @include turnNameKeyVal(margin, r, 1rem); // 右边距
}
.el-menu .el-menu-item i.el-submenu__icon-arrow, 
.el-menu .el-submenu i.el-submenu__icon-arrow {
  font-size: 1rem; // 箭头字体大小
  @include turnKeyVal(r, 20px);
  @include turnNameKeyVal(margin, r, 0px); // 右边距
}

/**--------定制化 dialog---------*/
.el-dialog{
  border-radius: 1px;
  padding: 2rem;
}
.el-dialog .el-dialog__header{ 
  margin-bottom: 0;
  padding: 0 0 1.5rem 0;
  border-bottom: 1px dashed #d4d9e6;
}
.el-dialog .el-dialog__header .el-dialog__title{
  font-size: 1.125rem; 
  line-height: 1.125rem;
  font-weight: 700;
}
.el-dialog .el-dialog__header .el-dialog__close{
  font-weight: 700;
}
.el-dialog .el-dialog__body{
  padding: 1.5rem 0;
}
.el-dialog .el-dialog__footer{
  padding-bottom: 0;
  text-align: center;
}

/**--------定制化 message-box---------*/
.el-message-box__title{
  font-weight: 700;
}
 .el-message-box__btns { // 按钮box
  text-align: center !important; // 按钮居中
}
.el-message-box__btns .el-button {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 0.5rem;
  min-width: 5rem;
}
/**--------定制化 时间线 timeline - start-------*/
.el-timeline{
  @include turnNameKeyVal(padding, l, 0.5rem);
  .el-timeline-item{
    position: relative;
  }
  .el-timeline-item__timestamp{
    padding-top: 0 !important;
    font-size: 0.875rem !important;
    font-weight: 700 !important;
  }
  .el-timeline-item__node{
    @include turnKeyVal(l, -5px);
  }
  .el-timeline-item__node:after{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100%;
    content: "";
  }
  .el-timeline-item__tail{
    border: 0;
    border-style: solid;
    @include borderWidth(l, 1px);
    @include turnKeyVal(l, 0);
  }
  .el-timeline-item:last-child .el-timeline-item__tail{
    display: block !important;
  }
  .el-timeline-item__wrapper{
    @include turnNameKeyVal(padding, l, 0.7rem);
    @include turnNameKeyVal(padding, r, 0);
    top: 0;
  }
  .el-timeline-item__content{
    position: relative;
  }
}

  /**--------定制化 dialog---------*/
  .el-dialog{
    border-radius: 1px;
    padding: 2rem;
  }
  .el-dialog .el-dialog__header{ 
    margin-bottom: 0;
    padding: 0 0 1.5rem 0;
    border-bottom: 1px dashed #d4d9e6;
  }
  .el-dialog .el-dialog__header .el-dialog__title{
    font-size: 1.125rem; 
    line-height: 1.125rem;
    font-weight: 700;
  }
  .el-dialog .el-dialog__header .el-dialog__close{
    font-weight: 700;
  }
  .el-dialog .el-dialog__body{
    padding: 1.5rem 0;
  }
  .el-dialog .el-dialog__footer{
    padding-bottom: 0;
    text-align: center;
  }

@import "~element-ui/packages/theme-chalk/src/index";