@import './mixins/variablesMixins.scss';

// px转rem
@function getRem($n) {
  @return $n / 16 * 1rem;
}

// 获取背景颜色
@mixin backgroundColor($color) {
  @include themeIfy {
    background-color: themed($color);
  }
}

// 获取字体颜色
@mixin color($color) {
  @include themeIfy {
    color: themed($color);
  }
}

// 获取边框颜色
@mixin borderColor($color) {
  @include themeIfy {
    border-color: themed($color);
  }
}

@mixin boxShow($color) {
  @include themeIfy {
    box-shadow: 4px 0 7px 0 themed($color);
  }
}

@mixin boxShow2($x, $y, $blur, $spread, $color) { // 4px,0, 7px, 0, base-color-boxshow
  @include themeIfy {
    box-shadow: $x $y $blur $spread themed($color); // box-shadow: 4px 0 7px 0 rgba(0,0,0,.07);
  }
}

// 转主题的通用方法
@mixin themeFn($name, $color, $isImportant: false) { // background-color, base-main-color
  @include themeIfy {
    @if $isImportant {
      #{$name}: themed($color) !important; // background-color: 主题色
    } @else {
      #{$name}: themed($color); // background-color: 主题色
    }
  }
}

// 转阿语化的通用方法
@mixin turnKeyVal($key, $val) { // left, 20rem
  @include layoutIfy {
    #{layout($key)}: $val; // left: 20rem
  }
}

@mixin turnNameKey($name, $key) { // transform, rotateY(0)
  @include layoutIfy {
    #{$name}: layout($key), // transform: rotateY(0)
  }
}

@mixin turnNameKeyVal($name, $key, $val) { // transform, rotateY(0)
  @include layoutIfy {
    #{$name}-#{layout($key)}: $val; // padding-left: 20rem
  }
}

// 获取边框宽度
@mixin borderWidth($key, $val) { // l, 1px
  @include layoutIfy {
    border-#{layout($key)}-width: $val; // border-left-width: 1px
  }
}

// 字体
$font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'STHeiti',
'Microsoft YaHei', 'Microsoft JhengHei', SimSun, sans-serif;

// 字体大小
$base-font-size-16: getRem(16);
$base-font-size-12: getRem(12);
$base-font-size-14: getRem(14);
$base-font-size-18: getRem(18);
$base-font-size-20: getRem(20);
$base-font-size-24: getRem(24);
$base-font-size-28: getRem(28);
$base-font-size-32: getRem(32);
$base-font-size-36: getRem(36);

// 圆角
$base-border-radius: 1px;

// 间距
$base-space-16: getRem(16); // 1rem
$base-space-32: getRem(32); // 2rem
$base-space-10: getRem(10); // 0.625rem
$base-space-8: getRem(8); // 0.5rem

// 禁用状态时鼠标指示
$cursor-disabled: default;

// 布局-header相关
$base-layout-header-height: getRem(64); // header高度
$base-layout-tabsbar-height: getRem(45); // tabsbar高度
