/**
* 基线主题色-蓝色
* 主题色只改变颜色
* element-ui的颜色变化在这边写！
**/

@charset "utf-8";

.dragon-theme-iblue{
  $base-color-red: #f45c5e; 
  $base-color-orange: #fa8e5a; 
  $base-color-yellow: #fdca5a; 
  $base-color-green: #7adfa0; 
  $base-color-blue: #6c92fa; // 主题色-主色
  $base-color-blue2: #86a6fc; // 主色悬浮
  $base-color-blue3: #5b7ede; // 主色按下
  $base-color-gray: #b8becc; 
  $base-color-gray2: #6c7280; // 悬浮
  $base-color-white: #fff;
  $base-color-black: #000;
  $base-main-color: $base-color-blue; // 主题色
  $base-main-color-hover: $base-color-blue2;
  $base-main-color-active: $base-color-blue3;
  
  $base-color-gray3: #e6ebf5; // 背景色_禁用
  $base-color-gray4: #F0F3FA; // 背景色
  $base-color-gray5: #fafbff; // 手风琴浅色背景第二层级背景
  $base-color-gray6: #f7faff; // 背景色_表格斑马线
  $base-color-gray7:#ecf5ff; // plain颜色按钮430


  // 文本颜色
  $base-color-text-primary: #282b33; // 文本_重要色
  $base-color-text-secondary: #6c7280; // 文本_次要色
  $base-color-text-description: #9ea4b3; // 文本_辅助色
  $base-color-text-disabled: $base-color-gray; // 文本_禁用色
  $base-color-text-inverse: $base-color-white; // 文本_反色
  $base-color-text-link: $base-main-color; // 文本_链接
  $base-color-text-true: $base-color-green; // 文本_正确
  $base-color-text-false: $base-color-red; // 文本_错误
  // 边框颜色
  $base-color-border: $base-color-gray;
  $base-color-border-hover: $base-color-gray2;
  $base-color-border2: $base-color-gray3;

  //分割线
  $base-color-dividing-line: $base-color-gray3; // 分割线
  $base-color-dividing-line-sublever: #d4d9e6; // 分割线

  // 菜单颜色
  // $base-menu-background: #16181d;
  // 定制-时间选择器
  $date-picker-range-bg:#F2F6FC; // 日历选中范围内的背景颜色
  $date-picker-header-bg:#fff; // header背景色
  $date-picker-header-text-color:#606266; // header文字颜色
  $date-picker-arrow-color:#303133; // header箭头
  $date-picker-arrow-color-disabled:#9ea4b3; // header箭头禁用颜色
  $date-picker-sidebar-border:#606266; // 快捷键按钮边框颜色
  $date-picker-range-center-border:#e4e4e4; // 日历中间一个分割线
  // 定制-时间选择器-日历内容：
  $date-picker-td-today-text: $base-main-color; // 当天, 当月，当年的字体颜色
  $date-picker-td-text-hover: $base-main-color; // 悬浮的字体颜色
  $date-picker-td-disabled-bg: #F5F7FA; // 禁用背景色
  $date-picker-td-disabled-text: #C0C4CC; // 禁用文字
  $date-picker-td-current-bg: $base-main-color; // 当前选中的背景色
  $date-picker-td-current-text: $base-color-white; // 当前选中的字体色
  $date-picker-td-start-end-bg: $base-main-color; // 范围的开始、结束 背景色
  $date-picker-td-start-end-text: $base-color-white; // 范围的开始、结束 字体
  // 表格
  $table-head-bg: $base-color-gray4; // 表头
  $table-head-line: $base-color-dividing-line-sublever; // 表头辅助线
  $table-body-bg-stripe: $base-color-gray6; // 表格斑马纹背景色
  $table-body-bg-hover: $base-color-gray4; // 表体 悬浮背景色
  $table-dividing-line: $base-color-gray3; // 表格边框线
  $table-drop-down-bg: $base-color-gray4; // 表格展开详情背景色
  // 分页
  $pager-li-bg: $base-color-gray4; // 分页带背景色 非选中页背景色

  // 菜单
  $base-menu-background: #080e16; // 菜单背景色
  $base-menu-background-hover: #000; // 菜单悬浮背景色
  $base-menu-color-active: $base-main-color; // 菜单选中颜色
  $base-menu-color: rgb(158, 164, 179); // 菜单文字颜色
  $base-layout-sider-nav-bg: $base-menu-background; // 侧边导航栏背景色


  
  @import './../mixins/utils.scss';
  
  // 公共覆盖
  @import './element-common.scss';


  //--------------定制的 属于该主题 start ----------------
    
  /**--------定制化 时间选择器-start---------*/
  // 日历内容：当天颜色、选中颜色、禁用的日期颜色等
  .el-date-table td.today span,
  .el-month-table td.today .cell,
  .el-year-table td.today .cell{
    color: $date-picker-td-today-text; // 当天, 当月，当年的字体颜色
  }
  .el-date-table td.available:hover,
  .el-month-table td .cell:hover,
  .el-year-table td .cell:hover {
    color: $date-picker-td-text-hover; // 普通悬浮的字体颜色
  }
  .el-date-table td.disabled div,
  .el-month-table td.disabled .cell,
  .el-year-table td.disabled .cell{
    background-color: $date-picker-td-disabled-bg; // 禁用背景色
    color: $date-picker-td-disabled-text; // 禁用文字
  }
  .el-date-table td.current span,
  .el-date-table td.current:not(.disabled) span{
    background: $date-picker-td-current-bg; // 当前选中的背景色
    color: $date-picker-td-current-text; // 当前选中的字体色
  }

  .el-date-table td.start-date span,
  .el-date-table td.end-date span,
  .el-month-table td.start-date .cell, 
  .el-month-table td.end-date .cell,
  .el-month-table td.start-date .cell:hover,
  .el-month-table td.end-date .cell:hover {
    background: $date-picker-td-start-end-bg; // 范围的开始、结束 背景色
    color: $date-picker-td-start-end-text; // 范围的开始、结束 字体
  }

  // 日历选中范围内的背景颜色
  .el-date-table td.in-range div,
  .el-month-table td.in-range div:hover{
    background-color: $date-picker-range-bg;
  }

  // header "2020年1月1日" 的位置
  .el-date-range-picker{
    .el-date-range-picker__content{
      &.is-left{
        border-color: $date-picker-range-center-border; // 日历中间一个分割线
      }
      .el-date-range-picker__header{
        background-color: $date-picker-header-bg; // header背景色
        color: $date-picker-header-text-color; // header文字颜色
      }
    }
  }
  .el-date-picker{
    .el-date-picker__header{
      background: $date-picker-header-bg ;  // header背景色
      .el-date-picker__header-label{
        color: $date-picker-header-text-color; // header文字颜色
      }
    }
  }

  //  header "2020年1月1日" 的箭头位置
  .el-picker-panel__icon-btn {
    color: $date-picker-arrow-color; // header箭头颜色
    &.is-disabled{
      color: $date-picker-arrow-color-disabled; // 禁用的灰色 header箭头颜色
    }
  }
  // 快捷键
  .el-date-picker,
  .el-date-range-picker{
    .el-picker-panel__body-wrapper{
      .el-picker-panel__sidebar{
        .el-picker-panel__shortcut{
          border-color: $date-picker-sidebar-border; // 快捷键按钮边框颜色
        }
      }
    }
  }

  /**--------定制化 表格--start-------*/
  .el-table th{
    background-color: $table-head-bg; // 表头背景色
  }
  .el-table, .el-table thead{
    color: $base-color-text-primary; // 表格、表头字体颜色
  }

  .el-table th >.cell {
    border-color: $table-head-line; // 表头分割线
  }
  .el-table--striped .el-table__body tr.el-table__row--striped td{
    background-color: $table-body-bg-stripe; // 表格斑马纹背景色
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td{
    background: $table-body-bg-hover; // 表格悬浮背景色
  }
  .el-table__expanded-cell{
    background-color: $table-drop-down-bg; // 表格展开详情背景色
  }
  .el-table td, .el-table th {
    border-bottom-color: $table-dividing-line; // 表格边框线
  }

  /**--------定制化 分页- start-------*/
  .el-pagination.is-background .btn-prev, 
  .el-pagination.is-background .btn-next, 
  .el-pagination.is-background .el-pager li{
    background-color: $pager-li-bg; // 分页带背景色 非选中页背景色
  }

  /**--------定制化 alert - start-------*/
  // info类型
  .el-alert--info{
    background: rgba(99,182,247,.15); // 背景色
    border: 1px solid $base-color-blue; // 边框
  }
  .el-alert--info .el-alert__content {
    color: $base-color-text-primary; // 字体颜色 
  }
  .el-alert--info .el-icon-info {
    color: $base-color-blue!important; // icon颜色
  }

  /**--------定制化 菜单 - start-------*/
  // 侧边栏菜单
  .sider-bar-box, .el-menu--vertical{
    .el-menu-item,
    .el-menu-item i,
    .el-submenu__title i,
    .el-submenu__title{
      color:$base-menu-color; // 菜单文字颜色
    }
    .el-menu, .el-menu-item{
      background-color: $base-menu-background; // 菜单背景色
    }
    .el-menu--collapse .el-submenu.is-active .el-submenu__title,
    .el-submenu.is-active .el-submenu__title i,
    .el-submenu.is-active .el-submenu__title,
    .el-menu-item.is-active{
      color: $base-menu-color-active; // 菜单选中颜色
    }
    .el-submenu .el-menu-item:focus, 
    .el-submenu .el-menu-item:hover, 
    .el-submenu__title:focus, 
    .el-submenu__title:hover{
      background-color: $base-menu-background-hover; // 菜单悬浮背景色
    }

  }
  // header内嵌的菜单
  .nav-bar-box, .el-menu--horizontal{
    .el-menu, .el-menu-item {
      background-color: $base-menu-background; // 菜单背景色
    }
    .el-menu-item, .el-menu-item i{
      color:$base-menu-color; // 菜单文字颜色
    }
    .el-submenu.is-active .el-submenu__title i,
    .el-submenu.is-active .el-submenu__title,
    .el-menu-item.is-active,
    .el-submenu.is-active > .el-submenu__title,
    .el-menu-item.is-active:not(.is-disabled):hover{
      color: $base-menu-color-active; // 菜单选中文字颜色
    }
    .el-menu-item.is-active {
      border-color: $base-menu-color-active; // 下划线颜色
    }
    .el-menu-item:not(.is-disabled):hover, 
    .el-menu-item:not(.is-disabled):focus{
      color: $base-menu-color; // 菜单文字悬浮颜色
    }
    .el-submenu .el-menu-item:focus, 
    .el-submenu .el-menu-item:hover, 
    .el-submenu__title:focus, 
    .el-submenu__title:hover,
    .el-menu-item:not(.is-disabled):hover, 
    .el-menu-item:not(.is-disabled):focus{
      background-color: $base-menu-background-hover; // 菜单悬浮背景色
    }
  }

  /**--------定制化 时间线 timeline - start-------*/
  .el-timeline{
    .el-timeline-item__timestamp{
      color: $base-main-color;
    }
    .el-timeline-item__node{
      background-color: $base-main-color;
    }
    .el-timeline-item__node:after{
      background-color: #fff;
    }
    .el-timeline-item__tail{
      border-color: $base-main-color;
    }
  }

  //--------------定制的 属于该主题 end ----------------
}
