/**
* 基线主题色-红色
* 主题色只改变颜色
* element-ui的颜色变化在这边写！
**/

@charset "utf-8";

body.dragon-theme-ired{
  $base-color-red: #f45c5e; 
  $base-color-orange: #fa8e5a; 
  $base-color-yellow: #fdca5a; 
  $base-color-green: #7adfa0; 
  $base-color-blue: #6c92fa; // 主题色-主色
  $base-color-blue2: #86a6fc; // 主色悬浮
  $base-color-blue3: #5b7ede; // 主色按下
  $base-color-gray: #b8becc; 
  $base-color-gray2: #6c7280; // 悬浮
  $base-color-white: #fff;
  $base-color-black: #000;
  $base-main-color: $base-color-red; // 主题色
  $base-main-color-hover: $base-color-blue2;
  $base-main-color-active: $base-color-blue3;
  
  $base-color-gray3: #e6ebf5; // 背景色_禁用
  $base-color-gray4: #F0F3FA; // 背景色
  $base-color-gray5: #fafbff; // 手风琴浅色背景第二层级背景
  $base-color-gray6: #f7faff; // 背景色_表格斑马线
  $base-color-gray7:#ecf5ff; // plain颜色按钮430

  // 文本颜色
  $base-color-text-primary: #282b33; // 文本_重要色
  $base-color-text-secondary: #6c7280; // 文本_次要色
  $base-color-text-description: #9ea4b3; // 文本_辅助色
  $base-color-text-disabled: $base-color-gray; // 文本_禁用色
  $base-color-text-inverse: $base-color-white; // 文本_反色
  $base-color-text-link: $base-main-color; // 文本_链接
  $base-color-text-true: $base-color-green; // 文本_正确
  $base-color-text-false: $base-color-red; // 文本_错误
  // 边框颜色
  $base-color-border: $base-color-gray;
  $base-color-border-hover: $base-color-gray2;
  //分割线
  $base-color-dividing-line: $base-color-gray3; // 分割线
  $base-color-dividing-line-sublever: #d4d9e6; // 分割线

  // 定制-时间选择器
  $date-picker-range-bg:#F2F6FC; // 日历选中范围内的背景颜色
  $date-picker-header-bg:#fff; // header背景色
  $date-picker-header-text-color:#606266; // header文字颜色
  $date-picker-arrow-color:#303133; // header箭头
  $date-picker-arrow-color-disabled:#9ea4b3; // header箭头禁用颜色
  $date-picker-sidebar-border:#606266; // 快捷键按钮边框颜色
  $date-picker-range-center-border:#e4e4e4; // 日历中间一个分割线
  // 定制-时间选择器-日历内容：
  $date-picker-td-today-text: $base-main-color; // 当天, 当月，当年的字体颜色
  $date-picker-td-text-hover: $base-main-color; // 悬浮的字体颜色
  $date-picker-td-disabled-bg: #F5F7FA; // 禁用背景色
  $date-picker-td-disabled-text: #C0C4CC; // 禁用文字
  $date-picker-td-current-bg: $base-main-color; // 当前选中的背景色
  $date-picker-td-current-text: $base-color-white; // 当前选中的字体色
  $date-picker-td-start-end-bg: $base-main-color; // 范围的开始、结束 背景色
  $date-picker-td-start-end-text: $base-color-white; // 范围的开始、结束 字体
  // 表格
  $table-head-bg: $base-color-gray4; // 表头
  $table-head-line: $base-color-dividing-line-sublever; // 表头辅助线
  $table-body-bg-stripe: $base-color-gray6; // 表格斑马纹背景色
  $table-body-bg-hover: $base-color-gray4; // 表体 悬浮背景色
  $table-dividing-line: $base-color-gray3; // 表格边框线
  $table-drop-down-bg: $base-color-gray4; // 表格展开详情背景色
  // 分页
  $pager-li-bg: $base-color-gray4; // 分页带背景色 非选中页背景色

  @import './../mixins/utils.scss';

  // 公共覆盖
  @import './element-common.scss';


  //--------------定制的 属于该主题 start ----------------
  //--------------定制的 属于该主题 end ----------------
}
