/* scss注释
   多行注释  */
// 单行注释
// 单行注释
@import 'base';

.inverse {
  background-color: $primary-color;
  color: white;
}

// @mixin
@mixin transform($property) {
  transform: $property;
}

// @include
.box {
  @include transform(rotate(30deg));
  //@include transform(rotate(30deg));
}
