// 全局公共样式
// 以 'dragon-' 为前缀，eg：.dragon-xxx{}

// 容器公共样式
.dragon-container-card {
  position: relative;
  width: 22%;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  background-color: #fff;
}
.dragon-container-banner{
  min-height: 16.625rem;
  padding: 2.5rem 4rem 5.5rem;
  background-image: url('~@/assets/images/common/banner.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dragon-text-prompt{
  display: inline-block;
  @include themeFn(color, base-main-color);
}

// 上下左右居中的样式
.dragon-middle-container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

// 溢出样式
.dragon-text-over{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}