<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>computed、watch</title>
  <script src="../vue.js"></script>
</head>
<body>
<div id="app">
  输入:<input type="text" v-model="totalMoney">
  <h3>{{msg}}</h3>
  单价：10元
  <br>
  数量：<input type="text" v-model="num">
  <br>
  总价:{{total}}
</div>
</body>
<script>
  /**
   * 计算属性 computed：对原始数据再次加工
   * 侦听器   watch：  监听数据变化，进而自动触发相应的方法
   */
  const vm = new Vue({
    el: "#app",
    data: {
      totalMoney: 0,
      num:0,
      // total:0
    },
    computed: {
      msg() {
        return `共消费${this.totalMoney}元`
      },
      total(){
       return 10*this.num;
      }
    },
    watch:{
      /*num(){
        this.total=10*this.num;
      }*/
    },
    methods: {}
  })
</script>
</html>
